<div>
  @if (pokemonList.length > 0) {
    <h2>Pokémon List</h2>
    <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="searchPokemon()"
    placeholder="Search Pokémon"
  />

    <ul>
      <li>
        @for (pokemon of filteredPokemonList; track $index) {
          <p>{{ pokemon.name }}</p> 
        }
        @if (filteredPokemonList.length === 0){
          No Pokémon found
        }
      </li>
    </ul>

    <button (click)="sortPokemonList()" class="underline">Sort Alphabetically</button>
  } @else {
    <p>No Pokémon data available</p>
  }
</div>